{% extends "layouts/_layout.html" %}

{% block content %}

  {# partial example #}
  {% include "partials/_header.html" %}

  <!-- BEGIN main -->
  <main>
    {% include "partials/_incredible-jewerly.html" %}

    {% include "partials/_personally-select.html" %}

    {% include "partials/_most-fabulous.html" %}

    {% include "partials/_from-workshop.html" %}

    {% include "partials/_video.html" %}

    {% include "partials/_collections.html" %}

    {% include "partials/_mini-catalog.html" %}

    {% include "partials/_jewerly-image.html" %}

    {% include "partials/_our-goal.html" %}

    {% include "partials/_service.html" %}

  </main>
<!-- BEGIN main -->

{% endblock %}
