<!-- BEGIN footer -->
<footer class="footer">

  <div class="footer__pattern">
    {{mixins.patternGrey('patternGrey')}}
  </div>

  <!-- BEGIN footer__content -->
  <div class="footer__content">

    <!-- BEGIN footer__content-left -->
    <div class="footer__content-left">
      <!-- BEGIN footer__list-wrapper -->
      <div class="footer__list-wrapper">
        <h6 class="footer__list-title">
          Клиентам
        </h6>
      
        <ul class="footer__list">
          <li class="footer__list-item">Ювелирное искусство</li>
          <li class="footer__list-item">Ювелирный дом</li>
          <li class="footer__list-item">Изделия Клер</li>
          <li class="footer__list-item">Коллекции</li>
          <li class="footer__list-item">Контакты</li>
        </ul>
      </div>
      <!-- END footer__list-wrapper -->
      
      <!-- BEGIN footer__list-wrapper -->
      <div class="footer__list-wrapper">
        <h6 class="footer__list-title">
          Услуги
        </h6>
      
        <ul class="footer__list">
          <li class="footer__list-item">Изделия на заказ</li>
          <li class="footer__list-item">Подбор камней</li>
          <li class="footer__list-item">Консультации</li>
          <li class="footer__list-item">Создание геральдики</li>
          <li class="footer__list-item">Инвестиции</li>
        </ul>
      </div>
      <!-- END footer__list-wrapper -->
    </div>
    <!-- END __content-left -->

    <!-- BEGIN footer__logo-monogram-wrapper -->
    <div class="footer__logo-monogram-wrapper">
      <div class="footer__monogram">
        {{mixins.monogram('monogram')}}
      </div>
      <div class="footer__logo">
        {{mixins.logo('logo')}}
      </div>
    </div>
    <!-- END footer__logo-monogram-wrapper -->

    <!-- BEGIN footer__content-left -->
    <div class="footer__content-right">
      <!-- BEGIN footer__list-wrapper -->
      <div class="footer__list-wrapper">
        <h6 class="footer__list-title">
          Контакты
        </h6>
      
        <ul class="footer__list">
          <li class="footer__list-item">Т: +780 83 3752 32238</li>
          <li class="footer__list-item">А: г. Москва, Арбат 38</li>
          <li class="footer__list-item">Г: ежедневно с 10:00 - 20:00</li>
        </ul>
      </div>
      <!-- END footer__list-wrapper -->
      
      <!-- BEGIN footer__list-wrapper -->
      <div class="footer__list-wrapper">
        <h6 class="footer__list-title">
          Документы
        </h6>
      
        <ul class="footer__list">
          <li class="footer__list-item">Договор оферты</li>
          <li class="footer__list-item">Политика конфиденциальности</li>
          <li class="footer__list-item">Политика сбора Cookies</li>
          <li class="footer__list-item">Лицензии и свидетельства</li>
          <li class="footer__list-item">Ответы на вопросы</li>
        </ul>
      </div>
      <!-- END footer__list-wrapper -->
    </div>
    <!-- END footer__content-left -->

    <div class="footer__arrow-top">
      {{mixins.arrowTop('arrowTop')}}
    </div>
  </div>
  <!-- END footer__content -->

  <!-- BEGIN footer__bottom -->
  <div class="footer__bottom">
    <div class="footer__bottom-inner">
      <p class="footer__copyright">
        Сopyright © 2021 CLERE. Все права защищены.
      </p>
      
      <div class="footer__socails">
        <p class="footer__socails-text">Instagram</p>
        <p class="footer__socails-text">Facebook</p>
        <p class="footer__socails-text">Telegram</p>
      </div>
      
      <p class="footer__made-by">
        Сделано в MARCCIATTI
      </p>
      </div>
    </div>
    <!-- END footer__bottom -->

</footer>
  <!-- END footer -->