<!-- BEGIN header -->
<header class="header">
  <!-- BEGIN header-inner -->
  <div class="header__inner">
    <div class="logo header__logo">
      {{mixins.logo('logo')}}
    </div>

    <!-- BEGIN navigation -->
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="/">Ювелирный дом</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/">Изделия</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/">Услуги</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/">Инвестиции</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/">Контакты</a>
        </li>
      </ul>
    </nav>
    <!-- END navigation -->

    <div class="menu">
      =
    </div>
  </div>
  <!-- END header-inner -->
</header>
<!-- END header -->

<a href="/"></a>
