<!-- BEGIN incredible-jewerly -->
<div class="incredible-jewerly">
  <div class="incredible-jewerly__inner">
    <h1 class="incredible-jewerly__title">Невероятные
      украшения
      Clere
    </h1>

    <div class="incredible-jewerly__text-wrapper">
      <p class="incredible-jewerly__text">
        Наши уникальные украшения
        представляют собой ДНК нашего
        <br/>Дома и основу нашей репутации:
        исключительную красоту и редкость.
      </p>
    </div>

    <div class="incredible-jewerly__main-image">
      <div class="pattern incredible-jewerly__pattern">
        {{mixins.pattern('pattern')}}
      </div>
    </div>

    <div class="incredible-jewerly__secondary-image"></div>
  </div>
</div>
<!-- END incredible-jewerly -->