<!-- BEGIN most fabulous -->
<div class="most-fabulous">
  <div class="most-fabulous__text-wrapper">
    <div class="most-fabulous__title-wrapper">
      <h6 class="most-fabulous__title">
        Самые сказочные драгоценности
      </h6>
    </div>

    <div class="most-fabulous__text-wrapper">
      <p class="most-fabulous__text">
        Наши уникальные украшения
        представляют собой ДНК нашего
        Дома и основу нашей репутации:
        исключительную красоту и редкость.
      </p>
    </div>

    <a  class="most-fabulous__link" href="/">
      Ювелирное искуство
    </a>
  </div>

  <div class="most-fabulous__main-image"></div>
  <div class="most-fabulous__secondary-image"></div>

  <div class="most-fabulous__monogram-wrapper">
      <div class="most-fabulous__monogram">
        {{mixins.monogram('monogram')}}
      </div>
  </div>
</div>
<!-- END most fabulous -->