<!-- BEGIN most fabulous -->
<div class="most-fabulous">
  <div class="most-fabulous__text-wrapper">
    <h6 class="most-fabulous__title">
      Самые сказочные драгоценности
    </h6>

    <p class="most-fabulous__text">
      Наши уникальные украшения
      представляют собой ДНК нашего
      Дома и основу нашей репутации:
      исключительную красоту и редкость.
    </p>

    <a href="/">Ювелирное искуство</a>
  </div>

  <div class="most-fabulous__main-image"></div>
  <div class="most-fabulous__secondary-image"></div>
  <div class="most-fabulous__monogram">
    {{mixins.monogram('monogram')}}
  </div>
</div>
<!-- END most fabulous -->