<!-- BEGIN our-goal -->
<div class="our-goal">
  <div class="our-goal__logo-monogram-wrapper">
    <div class="our-goal__monogram">
      {{mixins.monogram('monogram')}}
    </div>
    <div class="our-goal__logo">
      {{mixins.logo('logo')}}
    </div>
  </div>

  <div class="our-goal__quote-wrapper">
    <p class="our-goal__quote-text">
      <span class="our-goal__quotes our-goal__quotes_open">
        {{mixins.quotes('quotes')}}
      </span>
      Мы создаем украшения,
      которые хранят уникальные
      истории, Мы не допускаем
      исключений, совершенство
      это Наша цель.
      <span class="our-goal__quotes our-goal__quotes_close">
        {{mixins.quotes('quotes')}}
      </span>
    </p>
  </div>

  <div class="our-goal__sign">
    {{mixins.sign('sign')}}
  </div>

  <div class="our-goal__pattern">
    {{mixins.pattern('pattern')}}
  </div>
</div>
<!-- END our-goal -->