<!-- BEGIN personally-select -->
<div class="personally-select">
  <div class="personally-select__title-wrapper">
    <h3 class="personally-select__title">
      Мы лично отбираем каждый камень
    </h3>
  </div>

  <div class="personally-select__arrow">
    {{mixins.arrowDown('arrowDown')}}
  </div>

  <div class="personally-select__text-wrapper">
    <p class="personally-select__text">
      Наш Дом уже более полувека представляет
      самые редкие драгоценные камни. Используя
      знания и опыт, лично отбирая каждый камень
      и – что является уникальным среди алмазных
      домов - руководим каждым этапом на пути
      создания украшений. Только совершенство
      имеет значение.
    </p>

    <a class="personally-select__link" href="/">
      Ювелирный дом
    </a>
  </div>
</div>
<!-- END personally-select -->