<!-- BEGIN service -->
<div class="service">
  <div class="service__arrow-down">
    {{mixins.arrowDown('arrowDown')}}
  </div>

  <div class="service__content-wrapper">
    <div class="service__image"></div>

    <div class="service__content">
      <div class="service__title-wrapper">
        <h6 class="service__title">
          Изготовление
          изделий на
          заказ
        </h6>
      </div>

      <img
        class="service__ring-image"
        src="/img/service/ring.jpg"
        alt="Ring"
      >

      <div class="service__text-wrapper">
        <p class="service__text">
          Наши дизайнера нарисуют идеальный эскиз,
          воплощая самые яркие идеи и максимально
          высокий сервис. Профессиональный подход,
          и проработка на всех этапах работы.
        </p>
      </div>


      <a class="service__link" href="/">
        Подробнее об услуге
      </a>
    </div>
  </div>
</div>
<!-- END service -->