<!-- BEGIN spoiler -->
<div class="spoiler">
  <div class="spoiler__services-list">

    <!-- BEGIN services-item -->
    <div class="spoiler__services-item">
      <div class="spoiler__services-item-content">
        <p class="spoiler__number">
          01
        </p>
        
        <h6 class="spoiler__title">
          Изделия на заказ
        </h6>
        
        <div class="spoiler__text-wrapper">
          <p class="spoiler__text">
            Наши дизайнера подберyт
            идеальный вариант эскизов,
            воплощая самые яркие идеи и
            максимально высокий сервис
          </p>
        </div>

        <div class="spoiler__arrow">
          {{mixins.arrowRight('pattern')}}
        </div>
      </div>
    </div>
    <!-- END services-item -->

    <!-- BEGIN services-item -->
    <div class="spoiler__services-item">
      <div class="spoiler__services-item-content">
        <p class="spoiler__number">
          02
        </p>
        
        <h6 class="spoiler__title">
          Гемхантинг
        </h6>
        
        <div class="spoiler__text-wrapper">
          <p class="spoiler__text">
            Используя знания и опыт,
            лично отбирая каждый камень
            и - что является уникальным
            среди алмазных домов
          </p>
        </div>

        <div class="spoiler__arrow">
          {{mixins.arrowRight('pattern')}}
        </div>
      </div>
    </div>
    <!-- END services-item -->

    <!-- BEGIN services-item -->
    <div class="spoiler__services-item">
      <div class="spoiler__services-item-content">
        <p class="spoiler__number">
          03
        </p>
        
        <h6 class="spoiler__title">
          Инвестиции
        </h6>

        <div class="spoiler__text-wrapper">
          <p class="spoiler__text">
            Наши эксперты подсчитают
            для вас несколько возможних
            вариантов ивестиций в драго-
            ценные камни.
          </p>
        </div>

        <div class="spoiler__arrow">
          {{mixins.arrowRight('pattern')}}
        </div>
      </div>
    </div>
    <!-- END services-item -->

    <!-- BEGIN services-item -->
    <div class="spoiler__services-item">
      <div class="spoiler__services-item-content">
        <p class="spoiler__number">
          04
        </p>
        
        <h6 class="spoiler__title">
          Создание геральдики
        </h6>

        <div class="spoiler__text-wrapper">
          <p class="spoiler__text">
            Выпущенные коллекции,
            всегда имеют свою историю,
            которая посвящена личности,
            событию, чувствам. Это
          </p>
        </div>

        <div class="spoiler__arrow">
          {{mixins.arrowRight('pattern')}}
        </div>
      </div>
    </div>
    <!-- END services-item -->
  </div>

  <div class="spoiler__link-wrapper">
    <a class="spoiler__link" href="/">
      Смотреть все услуги
    </a>
  </div>
</div>
<!-- END spoiler -->