<!-- BEGIN video -->
<div class="video">
  <div class="video__inner">
    <video class="video__content" autoplay loop>
      <source src="/assets/media/jewerly.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div class="video__quote">
      <div class="video__quote-wrapper">
        <p class="video__quote-text">
          Совершенства можно достичь используя только лучшие
          камни и опыт наших ювелиров.
        </p>
        <div class="video__pattern">
          {{mixins.pattern('pattern')}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END video -->